
*{ 
    font-family: 'Signika Negative', sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(10 12 28);
    
}
.container{
    width:1110px ;
    height:446px ;
    background-color:rgb(28 25 56);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: grid;
    grid-template-columns: 570px 540px;
    border-radius: 10px;
}
.info{
    padding: 60px 0px 0px 80px ;
    width: 380px; 
}
h3{
    color: white;
    font-size: 40px;
    margin: 0px;
    font-weight: 600;
}
h3 span{
    color: rgb(170 92 225);
}
.img-section{
    position: relative;
    width: 540px;
}
.img-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: hsl(277, 64%, 61%);
    mix-blend-mode: multiply;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.img-section>img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.description{
    font-size: 17px;
    color:rgba(230, 225, 225, 0.75) ; 
    margin-top: 30px;
    line-height: 25px;
    font-weight: 100;
}
ul{
    padding: 0px !important;
    display: flex;
    margin-top: 70px;
    justify-content: space-between; 
}
ul>li{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
}
li>.number{
    color: white;
    font-size: 27px;
}
li>.stats{
    color: rgba(230, 225, 225, 0.75);
    font-size:14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@media screen and (max-width:1000px){
    body{
        padding: 50px;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        width: 380px;
        height: unset;
        text-align: center;
    }
    .info{
        width: 76%;
        height: unset;
        padding: 40px ;
    }
    h3{
        font-size: 35px;
    }
    .description{
        font-size: 18px;
        font-weight: 200;
    }
    ul{
        margin-left:44%;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin-top: 40px;
    }
    li{
        width: 100%;
        padding-bottom: 35px;
    }
    .three{
        padding-bottom: 0px;
    }
    li>.number{
        font-size: 32px;
    }
    .stats{
        position: relative;
        margin-left: -10px;
        padding-top: 5px;
    }
     .img-section{
        width: 100%;
        height: 260px;
    }
    .three>.stats{
        margin-left:0px;
    }
    .img-section>img{
        border-radius: 10px 10px 0px 0px;
    }
    .img-section::before{
        border-radius: 10px 10px 0px 0px;
    }
}